*.class

# Package Files #
*.jar
*.war
*.ear

target
.settings
.project
.classpath

# IntelliJ #
*.iml
.idea/
.gradle
gradle/*
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

build/
libraries/

logs/
log-test/

.DS_Store
.factorypath
settings.json